#content {
  padding: 5px;
}

.jumbotron {
  font-size: 200%;
	background: #ffffff;
}

.center {
  text-align: center;
}

.o123-logo {
	width: 150px;
	height: 150px;
	padding-bottom: 5px;
}

.toplogo {
	max-height: 75px;
}
